<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!-- 코드에 순서가 있다고 하신다 -->

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.example.newboard.model.UserDTO" alias="userDTO"/>
        <typeAlias type="com.example.newboard.model.BoardDTO" alias="boardDTO"/>
        <typeAlias type="com.example.newboard.model.ReplyDTO" alias="replyDTO"/>
    </typeAliases>
</configuration>